Installing GEOPY for retriving the data of missing states by using longitude and latidude values

In [1]:
pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
     -------------------------------------- 119.8/119.8 kB 1.7 MB/s eta 0:00:00
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     -------------------------------------- 40.3/40.3 kB 485.2 kB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
Note: you may need to restart the kernel to use updated packages.

In [37]:
from geopy.geocoders import Nominatim

Importing Pandas and Numpy

In [3]:
import pandas as pd

In [4]:
import numpy as np

Importing semi-cleaned Data

In [5]:
conflict_data = pd.read_csv('Conflict_data_india_2023.csv')

In [6]:
conflict_data.head()

,YEAR,ACTIVE YEAR,CODE STATUS,TYPE OF VIOLENCE,SIDE A,SIDE B,STATE,LATITUDE,LONGITUDE,NO OF DEATHS FROM SIDE A,NO OF DEATHS FROM SIDE B,NO OF DEATHS OF CIVILIANS,NO OF UNKNOWN DEATHS,TOTAL DEATHS
0,1989,1,Clear,1,Government of India,Government of Pakistan,NaN,32.565,74.676,0,0,0,25,25
1,1990,1,Clear,1,Government of India,Government of Pakistan,NaN,32.565,74.676,0,0,0,17,17
2,1990,1,Clear,1,Government of India,Government of Pakistan,NaN,32.565,74.676,1,5,0,0,6
3,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,33.770,74.100,0,0,0,0,0
4,1990,1,Clear,1,Government of India,Government of Pakistan,NaN,32.565,74.676,0,0,0,0,0

Finding out the total number of deaths

In [8]:
conflict_data['TOTAL DEATHS'].sum()

58429

TOTAL number of rows

In [9]:
conflict_data.shape[0]

16675

Replacing the Nan Values in the STATE column with the the help of Latitude and Longitude columns by making a get request

In [38]:
geolocator = Nominatim(user_agent="forproject")
for i in range(conflict_data.shape[0]):
    if conflict_data['STATE'][i] is np.nan:
        lat = str(conflict_data['LATITUDE'][i])
        long = str(conflict_data['LONGITUDE'][i])
        location = geolocator.reverse(lat+","+long)
        address = location.raw['address']
        conflict_data['STATE'][i]= address.get('state', '')

C:\Users\HP\AppData\Local\Temp\ipykernel_22668\1341718064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conflict_data['STATE'][i]= address.get('state', '')

AttributeError: 'NoneType' object has no attribute 'raw'

Rechecking the Nan values in STATE

In [39]:
conflict_data.isnull().sum()

YEAR                         0
ACTIVE YEAR                  0
CODE STATUS                  0
TYPE OF VIOLENCE             0
SIDE A                       0
SIDE B                       0
STATE                        7
LATITUDE                     0
LONGITUDE                    0
NO OF DEATHS FROM SIDE A     0
NO OF DEATHS FROM SIDE B     0
NO OF DEATHS OF CIVILIANS    0
NO OF UNKNOWN DEATHS         0
TOTAL DEATHS                 0
dtype: int64

Still 7 Nan values are present

In [61]:
conflict_data.isnull().sum()

YEAR                         0
ACTIVE YEAR                  0
CODE STATUS                  0
TYPE OF VIOLENCE             0
SIDE A                       0
SIDE B                       0
STATE                        7
LATITUDE                     0
LONGITUDE                    0
NO OF DEATHS FROM SIDE A     0
NO OF DEATHS FROM SIDE B     0
NO OF DEATHS OF CIVILIANS    0
NO OF UNKNOWN DEATHS         0
TOTAL DEATHS                 0
dtype: int64

The total deaths for these Nan values are insignificant. So we can drop the rows having STATE as NAN

In [65]:
conflict_data.dropna()

,YEAR,ACTIVE YEAR,CODE STATUS,TYPE OF VIOLENCE,SIDE A,SIDE B,STATE,LATITUDE,LONGITUDE,NO OF DEATHS FROM SIDE A,NO OF DEATHS FROM SIDE B,NO OF DEATHS OF CIVILIANS,NO OF UNKNOWN DEATHS,TOTAL DEATHS
0,1989,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565000,74.676000,0,0,0,25,25
1,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565000,74.676000,0,0,0,17,17
2,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565000,74.676000,1,5,0,0,6
3,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,33.770000,74.100000,0,0,0,0,0
4,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565000,74.676000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,2021,0,Clear,1,Government of India,UNLFW,Arunachal Pradesh,26.964992,95.452438,0,2,0,0,2
16668,2021,0,Clear,1,Government of India,UNLFW,Meghalaya,25.344096,91.531199,0,0,0,0,0
16669,2021,0,Clear,1,Government of India,UNLFW,Manipur,24.223606,93.716263,5,0,2,0,7
16670,2021,0,Clear,1,Government of India,UNLFW,Arunachal Pradesh,26.846762,95.450524,0,3,0,0,3
16671,2021,0,Clear,1,Government of India,UNLFW,Nagaland,26.844785,94.957102,0,0,8,0,8

Saving the CSV file

In [71]:
conflict_data.to_csv('conflictdata.csv')