In [1]:
import pandas as pd
import numpy as np

In [2]:
conflictdata2 = pd.read_csv('conflictdata.csv')
conflictdata2.head()

,Unnamed: 0,YEAR,ACTIVE YEAR,CODE STATUS,TYPE OF VIOLENCE,SIDE A,SIDE B,STATE,LATITUDE,LONGITUDE,NO OF DEATHS FROM SIDE A,NO OF DEATHS FROM SIDE B,NO OF DEATHS OF CIVILIANS,NO OF UNKNOWN DEATHS,TOTAL DEATHS
0,0,1989,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,0,0,0,25,25
1,1,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,0,0,0,17,17
2,2,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,1,5,0,0,6
3,3,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,33.770,74.100,0,0,0,0,0
4,4,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,0,0,0,0,0

In [5]:
conflictdata2.isnull().sum()

Unnamed: 0                   0
YEAR                         0
ACTIVE YEAR                  0
CODE STATUS                  0
TYPE OF VIOLENCE             0
SIDE A                       0
SIDE B                       0
STATE                        0
LATITUDE                     0
LONGITUDE                    0
NO OF DEATHS FROM SIDE A     0
NO OF DEATHS FROM SIDE B     0
NO OF DEATHS OF CIVILIANS    0
NO OF UNKNOWN DEATHS         0
TOTAL DEATHS                 0
dtype: int64

In [6]:
conflictdata2['STATE'].value_counts()

Jammu and Kashmir     8864
Assam                 1578
Chhattisgarh          1325
Jharkhand              643
Manipur                606
Andhra Pradesh         527
Tripura                412
Punjab                 387
Bihar                  386
West Bengal            320
Maharashtra            312
Nagaland               276
Odisha                 244
Orissa                 202
Meghalaya              102
Uttar Pradesh          101
Gujarat                 86
Delhi                   70
Arunachal Pradesh       45
Madhya Pradesh          34
Karnataka               30
Telangana               19
Andhra Pradesh          17
Maharashtra             15
Rajasthan               14
Punjab                  14
Haryana                 11
Kerala                   7
Tamil Nadu               6
Himachal Pradesh         6
Odisha                   5
Bihar                    2
Mizoram                  2
Arunachal Pradesh        2
West Bengal              2
Uttarakhand              1
Mizoram                  1
Name: STATE, dtype: int64

From the output above we can see that some of the STATE values are repeated due to incorrect spaces at the end.
Let us run a loop to remove the extreme right spaces.

In [7]:
for i in range(conflictdata2.shape[0]):
    conflictdata2['STATE'][i] = conflictdata2['STATE'][i].rstrip()

C:\Users\HP\AppData\Local\Temp\ipykernel_13888\4037220931.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conflictdata2['STATE'][i] = conflictdata2['STATE'][i].rstrip()

In [9]:
conflictdata2['STATE'].unique()

array(['Jammu and Kashmir', 'Rajasthan', 'Punjab', 'Andhra Pradesh',
       'Madhya Pradesh', 'Maharashtra', 'Odisha', 'Orissa', 'Bihar',
       'Karnataka', 'Jharkhand', 'Chhattisgarh', 'Uttar Pradesh',
       'West Bengal', 'Tamil Nadu', 'Assam', 'Telangana', 'Kerala',
       'Nagaland', 'Manipur', 'Meghalaya', 'Arunachal Pradesh', 'Tripura',
       'Mizoram', 'Uttarakhand', 'Haryana', 'Delhi', 'Himachal Pradesh',
       'Gujarat'], dtype=object)

We can see that there are no repeated STATE names. The only problem remaining is that 'Odisha' and 'Orissa' refer to the same state.
We will replace 'Orissa' with 'Odisha' in the state column.

In [10]:
conflictdata2['STATE'] = conflictdata2['STATE'].replace('Orissa','Odisha')

In [11]:
conflictdata2['STATE'].unique()

array(['Jammu and Kashmir', 'Rajasthan', 'Punjab', 'Andhra Pradesh',
       'Madhya Pradesh', 'Maharashtra', 'Odisha', 'Bihar', 'Karnataka',
       'Jharkhand', 'Chhattisgarh', 'Uttar Pradesh', 'West Bengal',
       'Tamil Nadu', 'Assam', 'Telangana', 'Kerala', 'Nagaland',
       'Manipur', 'Meghalaya', 'Arunachal Pradesh', 'Tripura', 'Mizoram',
       'Uttarakhand', 'Haryana', 'Delhi', 'Himachal Pradesh', 'Gujarat'],
      dtype=object)

Now we only see Odisha

Now let us try to add a new column 'REGION' which will divide the states into six categories,
namely:Northern,Central,Eastern,Northeastern,Western and Southern

In [12]:
Northern = ['Jammu and Kashmir','Himachal Pradesh','Punjab','Haryana','Rajasthan']
Central =['Uttarakhand','Delhi','Uttar Pradesh','Chattisgarh','Madhya Pradesh']
Eastern = ['Assam', 'Arunachal Pradesh','Sikkim','Meghalaya','Nagaland','Manipur','Tripura','Mizoram']
Northeastern = ['Bihar','Jharkhand','West Bengal', 'Odisha']
Western = ['Maharashtra','Gujarat']
Southern = ['Telangana','Karnataka','Tamil Nadu','Kerala','Andhra Pradesh']

Initially,Let us put 'A' as the value for each row corresponding to the column 'REGION'

In [13]:
conflictdata2['Region']=['A'for i in range(conflictdata2.shape[0])]

Let us loop through the data frame and replace the appropriate 'REGION' values corresponding to the 'STATE' values

In [14]:
for i in range(conflictdata2.shape[0]):
    if conflictdata2['STATE'][i] in Northern:
        conflictdata2.loc[i,'Region']='Northern'
    if conflictdata2['STATE'][i] in Central:
        conflictdata2.loc[i,'Region']='Central'
       
    if conflictdata2['STATE'][i] in Eastern:
        conflictdata2.loc[i,'Region']='Eastern'
    if conflictdata2['STATE'][i] in Northeastern:
        conflictdata2.loc[i,'Region']='Northeastern'
        
    if conflictdata2['STATE'][i] in Western:
        conflictdata2.loc[i,'Region']='Western'
    if conflictdata2['STATE'][i] in Southern:
        conflictdata2.loc[i,'Region']='Southern'

In [15]:
conflictdata2['Region']

0        Northern
1        Northern
2        Northern
3        Northern
4        Northern
           ...
16669     Eastern
16670     Eastern
16671     Western
16672     Western
16673     Western
Name: Region, Length: 16674, dtype: object

We can see that we have successfully put the region values.

In [68]:
conflictdata2['Region'].value_counts()

Northern        9296
Eastern         3024
Northeastern    1804
Western         1738
Southern         606
Central          206
Name: Region, dtype: int64

Almost 55% of the conflicts are from Northern region

In [16]:
conflictdata2.isnull().sum()

Unnamed: 0                   0
YEAR                         0
ACTIVE YEAR                  0
CODE STATUS                  0
TYPE OF VIOLENCE             0
SIDE A                       0
SIDE B                       0
STATE                        0
LATITUDE                     0
LONGITUDE                    0
NO OF DEATHS FROM SIDE A     0
NO OF DEATHS FROM SIDE B     0
NO OF DEATHS OF CIVILIANS    0
NO OF UNKNOWN DEATHS         0
TOTAL DEATHS                 0
Region                       0
dtype: int64

There are no Null values present.
Let us remove the first column(since it is insignificant).
Our data is ready for visualization.

In [17]:
conflictdata2 =conflictdata2.drop(['Unnamed: 0'],axis =1)

In [18]:
conflictdata2.head()

,YEAR,ACTIVE YEAR,CODE STATUS,TYPE OF VIOLENCE,SIDE A,SIDE B,STATE,LATITUDE,LONGITUDE,NO OF DEATHS FROM SIDE A,NO OF DEATHS FROM SIDE B,NO OF DEATHS OF CIVILIANS,NO OF UNKNOWN DEATHS,TOTAL DEATHS,Region
0,1989,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,0,0,0,25,25,Northern
1,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,0,0,0,17,17,Northern
2,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,1,5,0,0,6,Northern
3,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,33.770,74.100,0,0,0,0,0,Northern
4,1990,1,Clear,1,Government of India,Government of Pakistan,Jammu and Kashmir,32.565,74.676,0,0,0,0,0,Northern

Let us save the data

In [72]:
conflictdata2.to_csv('conflict_final_data.csv')

Let us do the visualization in powerBI.